/*font-family: 'Mulish', sans-serif;*/
/*verde musgo #849582; 
terra-cota #BF6F4E
terra-cota pastel #D0A68E
verde musgo pastel #B6B7A5
*/
/*keywords: minimalista; delicada; sábia; criativa; idealista; alegre*/
/*Tipografia: HV Harietta Bold e Montserat Light*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
  font-family: 'HV Harietta';
  src: url('font/HV\ Harietta\ Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

section.home {
  background-image: url(imagens/wallpaper01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'HV Harietta', Arial, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.logotipo {
  display: flex;
  justify-content: center;
  height: 50vh;
}