@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
/*font-family: 'Mulish', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

section.home {
  width: 99vw;
  height: 100vh;
  background-image: url(imagens/wallpaper01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

section > nav {
  text-align: right;
}

section li {
  display: inline-block;
}

section a {
  text-decoration: none;
}